.slider-gallery {
  position: relative;
  margin-bottom: 20px 0 50px;
}

.slider-arrow-small {
  position: absolute;
  top: 55%;
  cursor: pointer;
  outline: 0;
}

.slider-arrow-small-left {
  left: 7px;
}

.slider-arrow-small-right {
  right: 7px;
}

.slider-arrow-big {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 45%;
  color: $color-light;
  outline: 0;
  cursor: pointer;
}

.slider-arrow-big-left {
  left: 1px;
}

.slider-arrow-big-right {
  right: 1px;
}
